#!/bin/bash
######################################################################
# A batchtools launch script template
######################################################################

# Launch R and evaluate the batchtools R job
Rscript -e 'batchtools::doJobCollection("<%= uri %>", output = "<%= log.file %>")'
