#!/bin/bash
######################################################################
# A batchtools launch script template for Slurm
#
# Author: Henrik Bengtsson 
######################################################################

<% Slurm defaults
defaults <- list(
  nodes = 1,          # single-host processing
   time = "00:05:00"  # 5-min runtime
   mem  = "100M"      # 100 MiB memory
)
resources <- c(resources, defaults[setdiff(names(defaults), names(resources))])
opts <- unlist(resources, use.names = TRUE)
opts <- sprintf("--%s=%s", names(opts), opts)
opts <- paste(opts, collapse = " ") %>
%>

#SBATCH --job-name=<%= job.name %>
#SBATCH --output=<%= log.file %>
#SBATCH <%= opts %>

## Launch R and evaluate the batchtools R job
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
